<div class="container">
  <md-list>
    <h1 md-subheader>
      <md-icon>add</md-icon> Edit Menu
    </h1>
  </md-list>
  <hr>
  <br>
  <md-select placeholder="Type" [(ngModel)]="p.type">
    <md-option *ngFor="let type of types" [value]="type.value">
      {{ type.name }}
    </md-option>
  </md-select>
  &nbsp;
  <md-input-container *ngIf="p.type">
    <input mdInput placeholder="Name" [(ngModel)]="p.name" type="text" [formControl]="nameFormControl">
    <md-error *ngIf="nameFormControl.hasError('pattern')">
        Input must be English alphabet, number. The - . symbols and space is allowed
    </md-error>
    <md-error *ngIf="nameFormControl.hasError('required')">
        Input must be English alphabet, number. The - . symbols and space is allowed
    </md-error>
  </md-input-container>
  &nbsp;
  <md-input-container *ngIf="p.type=='Non-brewing'">
    <input mdInput placeholder="Sale price" [(ngModel)]="p.price" [value]="" type="text" [formControl]="numberFormControl2">
    <md-error *ngIf="numberFormControl2.hasError('pattern')">
        Input must be number and only . symbol is allowed
    </md-error>
    <md-error *ngIf="numberFormControl2.hasError('required')">
        Input must be number and only . symbol is allowed
    </md-error>
  </md-input-container>
  &nbsp;
  
    <!-- Cost : {{ nCost }} &nbsp; -->
   <md-input-container *ngIf="p.type=='Non-brewing'">
     <input mdInput placeholder="Cost" [(ngModel)]="p.cost" type="text" [formControl]="numberFormControl">
     <md-error *ngIf="numberFormControl.hasError('pattern')">
        Input must be number and only . symbol is allowed
     </md-error>
     <md-error *ngIf="numberFormControl.hasError('required')">
        Input must be number and only . symbol is allowed
     </md-error>
   </md-input-container>
  <br>
  <input type="file" *ngIf="p.type" (change)="test333($event)">
  <md-card class="place-img" *ngIf="p.type">
    <img md-card-image *ngIf="img2" [src]="'../../assets/image/' + img2">
  </md-card>
  <button *ngIf="img2" md-button (click)="deletePic(Imggg.id)" class="md-raised md-primary">X</button>



  <div *ngIf="p.type=='Brewing'">
    <div class="status-card--container">
      <md-card class="status-card">
        <div class="status-card--icon orange">
          <md-icon>menu</md-icon>
        </div>
        <div class="status-card--header">
          <h1 class="detail">Ingredient</h1>
        </div>
        <div class="status-card--footer" dnd-droppable (onDropSuccess)="addToBasket($event)" [dropZones]="['demo2']">
          <div class="panel-body">
            <div *ngFor="let product of availableProducts" class="panel panel-default " dnd-draggable [dragData]="product" (onDragSuccess)="orderedProduct($event)"
              [dropZones]="['demo1']">
              <div class="test">
                {{product.name}} ({{product.type}}) \${{product.cost}}
              </div>
            </div>
          </div>
        </div>
      </md-card>

      <md-card class="status-card">
        <div class="status-card--icon blue">
          <md-icon>restaurant_menu</md-icon>
        </div>
        <div class="status-card--header">
          <span class="title">Menu name</span>
          <h1 class="detail">{{p.name}}</h1>
        </div>
        <div class="status-card--footer" dnd-droppable (onDropSuccess)="addToBack($event)" [dropZones]="['demo1']">
          <div class="panel-body">
            <div dnd-draggable [dragEnabled]="true" [dragData]="product" [dropZones]="['demo2']" (onDragSuccess)="backProduct($event)"
              *ngFor="let product of shoppingBasket" class="panel panel-default">
              <div class="test">
                {{product.name}} ({{product.type}}) (Amount: {{product.quantity}} Cost: \${{product.cost * product.quantity}})
              </div>
            </div>
          </div>
        </div>
      </md-card>
    </div>
  </div>

  <div *ngIf="p.type=='Brewing' && nCost != 0">
    Normal Cost : {{ nCost }} &nbsp;
    <md-input-container>
      <input mdInput placeholder="Sale price" [(ngModel)]="p.price" [value]="" type="text" [formControl]="numberFormControl">
      <md-error *ngIf="numberFormControl.hasError('pattern')">
          Input must be number and only . symbol is allowed
      </md-error>
      <md-error *ngIf="numberFormControl.hasError('required')">
          Input must be number and only . symbol is allowed
      </md-error>
    </md-input-container>
  </div>
<div *ngIf="p.type=='Brewing' && hCost != 0">
    High Cost : {{ hCost }} &nbsp;
    <md-input-container>
      <input mdInput placeholder="Sale price" [value]="" type="text">
    </md-input-container>
  </div>
  <div *ngIf="p.type=='Brewing' && pCost != 0">
    Premium Cost : {{ pCost }} &nbsp;
    <md-input-container>
      <input mdInput placeholder="Sale price" [value]="" type="text">
    </md-input-container>
  </div>
  <br> 
  <br>
  <button *ngIf="p.type" md-button class="md-raised md-primary" (click)="edit()" [disabled]="p.cost===''">Edit</button>
  <!-- <input type="file" accept="image/*" capture="camera">
  <img id='barcode' src="https://api.qrserver.com/v1/create-qr-code/?data=HelloWorld&amp;size=500x500" alt="" title="HELLO"
    width="500" height="500" /> -->
</div>
