<div class="container">
  <md-list>
    <h1 md-subheader>
      <md-icon>add</md-icon> Add Ingredient
    </h1>
  </md-list>
  <hr>
  <br>
  
  <md-select placeholder="Type" [(ngModel)]="p.type">
      <md-option *ngFor="let type of types" [value]="type.value">
        {{ type.name }}
      </md-option>
    </md-select>
  <br>
  <md-input-container>
    <input mdInput placeholder="Name" value="" [(ngModel)]="p.name"[formControl]="nameFormControl">
    <md-error *ngIf="nameFormControl.hasError('pattern')">
        Input must be English alphabet, number. The - . symbols and space is allowed
    </md-error>
    <md-error *ngIf="nameFormControl.hasError('required')">
        Input must be English alphabet, number. The - . symbols and space is allowed
    </md-error>
  </md-input-container>
  <br>
  <md-input-container>
    <input mdInput placeholder="Cost" value="" [(ngModel)]="p.cost"[formControl]="numberFormControl">
    <md-error *ngIf="numberFormControl.hasError('pattern')">
        Input must be number and only . symbol is allowed
    </md-error>
    <md-error *ngIf="numberFormControl.hasError('required')">
        Input must be number and only . symbol is allowed
    </md-error>
  </md-input-container>
  <br>
  <!-- <input type="file" >
  <md-card [style.width.px]="'300'" class="imggg" >
    <img md-card-image *ngIf="Imggg" [src]="'http://139.59.231.135/map/public/images/' + Imggg.fileName">
  </md-card>
  <button *ngIf="Imggg" md-button (click)="deletePic(Imggg.id)" class="md-raised md-primary">X</button> -->



  
  <br>
  
  <button md-button class="md-raised md-primary" (click)="edit()"[disabled]="p.cost===''" >Add</button>
  <!-- <input type="file" accept="image/*" capture="camera">
  <img id='barcode' src="https://api.qrserver.com/v1/create-qr-code/?data=HelloWorld&amp;size=500x500" alt="" title="HELLO"
    width="500" height="500" /> -->
</div>
