.container {
  padding: 25px;
}

.status-card--container {
  display: flex;
  padding: 48px 0;
  .status-card {
    margin: 0 14px;
    width: 33.33%;
    .status-card--icon {
      &.orange {
        background-color: #F60;
      }
      &.blue {
        background-color: #26c6da;
      }
    }
  }
}

.status-card--footer {
  height: 280px;
  width: 100%;
  overflow: auto;
  padding-right: 4%;
}

.panel-body {
    
  width: 100%;
}
.test {
  margin: 0px 0px 10px 0px;
  width: 100%;
  border: 1px solid gray;
  text-align: center;
  padding: 10px 0px 10px 0px;
}

.imggg{
   margin: 0;
        height: 130px;
}

.md-raised{
        background-color: #26c6da;
                color: #FFF;

}
.place-img  {
  margin: 0;
  width: 300px;
  height: 130px;
}
.place-img img {
  margin: 0;
  width: 100%;
  height: 100%;
}