<div class="container">
    <md-list>
      <h1 md-subheader>
        <md-icon>add</md-icon> Edit Employee
      </h1>
    </md-list>
    <hr>
    <br>
    
    <md-select placeholder="Role" [(ngModel)]="p.role">
        <md-option *ngFor="let type of types" [value]="type.value">
          {{ type.name }}
        </md-option>
      </md-select>
    <br>
    <md-input-container>
      <input mdInput placeholder="Name" value=""[(ngModel)]="p.name"[formControl]="nameFormControl">
      <md-error *ngIf="nameFormControl.hasError('pattern')">
          Input must be English alphabet, number. The - . symbols and space is allowed
      </md-error>
      <md-error *ngIf="nameFormControl.hasError('required')">
          Input must be English alphabet, number. The - . symbols and space is allowed
      </md-error>
    </md-input-container>
    <br>
    <md-input-container>
      <input mdInput placeholder="Surname" value=""[(ngModel)]="p.surname"[formControl]="nameFormControl2">
      <md-error *ngIf="nameFormControl2.hasError('pattern')">
          Input must be English alphabet, number. The - . symbols and space is allowed
      </md-error>
      <md-error *ngIf="nameFormControl2.hasError('required')">
          Input must be English alphabet, number. The - . symbols and space is allowed
      </md-error>
    </md-input-container>
    <br>
    <md-input-container>
      <input mdInput placeholder="Email" value=""[(ngModel)]="p.email"[formControl]="emailFormControl">
      <md-error *ngIf="emailFormControl.hasError('pattern')">
          Input must be e-mail format example hello@email.com
      </md-error>
      <md-error *ngIf="emailFormControl.hasError('required')">
          Input must be e-mail format example hello@email.com
      </md-error>
    </md-input-container>
    <br>
    <md-input-container>
      <input mdInput placeholder="Password" value="" type="password">
    </md-input-container>
    <br>
    <md-input-container>
      <input mdInput placeholder="Telephone number" value=""[(ngModel)]="p.telephone"[formControl]="phoneFormControl">
      <md-error *ngIf="phoneFormControl.hasError('pattern')">
          Input must be only 10 number digits
      </md-error>
      <md-error *ngIf="phoneFormControl.hasError('required')">
          Input must be only 10 number digits
      </md-error>
    </md-input-container>
    <br>
    <input type="file"  (change)="test333($event)">
    <md-card class="place-img" >
      <img md-card-image *ngIf="img2" [src]="'http://139.59.231.135/posrest/public/images/' + img2">
    </md-card>
    <button *ngIf="img2" md-button (click)="deletePic(Imggg.id)" class="md-raised md-primary">X</button>
  
  
  
    <br>
    <br>
    
    <br>
    
    <button md-button class="md-raised md-primary" (click)="edit()"[disabled]="p.telephone.length!==10" >Edit</button>
    <!-- <input type="file" accept="image/*" capture="camera">
    <img id='barcode' src="https://api.qrserver.com/v1/create-qr-code/?data=HelloWorld&amp;size=500x500" alt="" title="HELLO"
      width="500" height="500" /> -->
  </div>
  