$little-smaller-size: "only screen and (min-width: 600px)";
$laptop-size: "only screen and (min-width: 768px)";
$desktop-size: "only screen and (min-width: 1382px)";
$test-size: "only screen and (min-width: 843px)";
@media #{$little-smaller-size} {
  // style something here..
}

@media #{$laptop-size} {
  .component-container {
    display: flex;
    flex-direction: column;
    .menu-wrapper {
      padding: 2px;
      display: flex;
      flex-flow: row wrap;
      .menu-item {
        flex-basis: 23%;
        max-width: 23%;
        margin: 4px;
      }
    }
    .search-wrapper {
      display: flex;
      flex: 1;
      justify-content: space-around;
      .search-section,
      .type-section {
        flex: 1;
        padding: 5px;
        .search-card {
          padding: 10px;
          .full-input {
            width: 100%;
          }
        }
      }
    }
  }
}
