<!-- <app-table  [rows]="rows" [columns]="columns" ></app-table>  -->
<div class="container">
  <div class="table-container">
    <!-- <md-select placeholder="Type" (change)="searchFilter()" [(ngModel)]="searchSelect">
      <md-option *ngFor="let type of types" [value]="type.value">
        {{ type.name }}
      </md-option>
    </md-select> -->

    <div>Name : Kum Saa</div>  
    <br>
    <ngx-datatable #table class='material' [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
      [rowHeight]="'auto'" [limit]="10" [rows]='rows' [messages]="messages">

      <ngx-datatable-column *ngFor=" let s of columns " [name]="s.name">
        <ng-template let-sort="sortFn" ngx-datatable-header-template>
          <span (click)="sort()">{{s.name}} </span>
        </ng-template>
        <ng-template let-value="value" *ngIf="s.name === 'picture'" ngx-datatable-cell-template>
          <md-card class="place-img">
              <img md-card-image [src]="'http://139.59.231.135/posrest/public/images/' + value">
          </md-card>
        </ng-template>
        <ng-template let-value="value" *ngIf="s.name === 'Payment'" ngx-datatable-cell-template>
          <div (click)="openDialog1()" >{{value}}</div>
        </ng-template>
        <ng-template let-value="value" *ngIf="s.name === 'Duration'" ngx-datatable-cell-template>
            <div (click)="openDialog2()" >{{value}}</div>
          </ng-template>
        <!-- <ng-template let-value="value" *ngIf="s.name === 'Payment'" ngx-datatable-cell-template>
            <div (click)="test()">{{value}} qq</div>
          </ng-template>
          <ng-template let-value="value" *ngIf="s.name === 'Duration'" ngx-datatable-cell-template>
              <div>{{value}}</div>
            </ng-template> -->
            
      </ngx-datatable-column>

     
    </ngx-datatable>
  </div>
</div>
